a {
  text-decoration: none;
  color: #008489;
  border-bottom: 1px solid transparent;
  transition: 0.3s all;
  font-size: 15;
  font-weight: 400;
}

a:hover {
  border-bottom: 1px solid #008489;
}

.main-pic {
  height: 500px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
  margin: 0 auto;
  font-family: 'Helvetica Neue';
  color: #444;
  font-size: 16px;
  font-weight: 200;
  line-height: 30px;
}

.sticky-menu {
  border-bottom: 1px solid #ccc;
  padding: 18px 0;
}

.sticky-menu a {
  margin: 10px 0;
  margin-right: 15px;
  font-size: 14px;
}

.sticky-menu a.active {
  color: #000;
}
.sticky-menu a.active:hover {
  border-bottom: 1px solid #000;
}

.main-info-box {
  display: flex;
  flex-direction: row;
  margin-bottom: 6px;
}

.sub-header-links a {
  color: #444;
  text-decoration: none;
  margin-right: 15px;
}

.main-info span {
  margin-right: 20px;
}

.owner-pic {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
}

.owner-pic img {
  height: 70px;
  width: 70px;
  border-radius: 35px;
  padding-bottom: 8px;
}

.outline-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: 1px solid #aaa;
  font-weight: 600;
  font-size: 14px;
  color: #444;
  text-decoration: none;
  transition: 0.1s all;
}

.outline-button:hover {
  border: 1px solid #777;
}

.description {
  line-height: 23px;
}

.description h3 {
  font-size: 16px;
  font-weight: 400;
}

.line {
  margin: 22px 0;
  border-bottom: 1px solid #ccc;
}

.services-header {
  font-weight: 500;
  margin: 0;
  margin-bottom: 5px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

b {
  font-weight: 400;
}

.column:first-of-type {
  margin-right: 30px;
}

.payment-info {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin-top: 30px;
}

.payment-info h4 {
  font-weight: 400;
  margin: 0;
}
