.prev-button {
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0), rgba(10, 10, 10, 0.8));
  transition: background 0.3s;
}

.prev-button:hover {
  background: linear-gradient(-90deg, rgba(10, 10, 10, 0.2), rgba(10, 10, 10, 0.8));
}

.next-button {
  background: linear-gradient(-90deg, rgba(10, 10, 10, 0.8), rgba(0, 0, 0, 0));
  transition: background 0.3s;
}

.next-button:hover {
  background: linear-gradient(-90deg, rgba(10, 10, 10, 0.95), rgba(10, 10, 10, 0.05));
}
